{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
    <div class="container">
    <h1>Albums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.name }}</td>
                <td>{{ album.year }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('album_show', {'id': album.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('album_new') }}">Create new</a>
    <a class="btn btn-dark" href="{{ path('home') }}">Home</a>
    </div>
{% endblock %}
